/* Global styles */
body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  width: 80%;
  margin: 70px auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow: hidden;
  animation: fadeIn 3s ease-in; /* Increase animation duration to 3s */
}

/* Heading styles */
h1 {
  text-align: center;
  font-size: 48px;
  color: #00e5ff;
  margin-top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.top {
  margin: 30px;
}

/* Input and button styles */
input[type="text"],
input[type="number"],
button {
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

input[type="text"],
input[type="number"] {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 2px solid #00e5ff;
}

button {
  background-color: #00e5ff;
  color: #121212;
  cursor: pointer;
  border: 2px solid #00e5ffc0;
  box-shadow: 0 4px 6px rgba(0, 229, 255, 0.5);
}

button:hover {
  background-color: #007acc;
  border: 2px solid #007acc;
  transform: scale(1.05);
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

th,
td {
  border: none;
  padding: 15px;
  text-align: center;
}

th {
  background-color: #00e5ff;
  color: #121212;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Animation */
.fade-in {
  animation: fadeIn 3s ease; /* Increase animation duration to 3s */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Fade-out animation */
.fade-out {
  animation: fadeOut 3s ease; /* Increase animation duration to 3s */
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hover effect for table rows */
tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
}
